<h2>By Name</h2>
<hr>
<div class="row">
    <div class="col">
        <!-- Searchbox -->
        <shared-search-box
            (onDebounce)="searchByCountry($event)"
            [placeholder]="placeholder"
            [initValue]="initValue"
        ></shared-search-box>
    </div>
</div>
<hr>
<div class="row">
    <div class="col">
        <h5>Results:</h5>
        <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
        <countries-table [countries]="countries"></countries-table>
    </div>
</div>